.home {
    margin-top: 50px;
    position: relative;
    color: $mainColor;

    img {
        width: 100%;
    }

    &__block {
        position: absolute;
        @include adaptiveValue("width", 500, 150);
        @include adaptiveValue("height", 470, 105);
        top: 0;
        @include adaptiveValue("left", 65, 40);
        background-color: $white;
        @include adaptiveValue("padding-top", 76, 5);
        @include adaptiveValue("padding-left", 40, 5);
        @include adaptiveValue("padding-right", 40, 5);
    }
}

.block {
    &__feature {
        color: $secondColor;
        font-family: 'Open Sans', sans-serif;
        @include adaptiveValue("font-size", 16, 8)
    }

    &__title {
        @include adaptiveValue("margin-top", 10, 5);
        font-weight: 700;
        @include adaptiveValue("font-size", 32, 10);
        font-family: $fontFamily;
        @include adaptiveValue("line-height", 41, 14);
    }

    &__name {
        color: $secondColor;
        font-family: 'Open Sans', sans-serif;
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 10, 5);
        @include adaptiveValue("margin-top", 20, 5);
        @include adaptiveValue("font-size", 16, 6)
    }

    &__dot {
        background-color: $secondColor;
        @include adaptiveValue("width", 3, 2);
        @include adaptiveValue("height", 3, 2);
        border-radius: 50%;
    }

    &__text {
        font-family: 'Open Sans', sans-serif;
        @include adaptiveValue("margin-top", 15, 4);
        @include adaptiveValue("font-size", 16, 7);
        @include adaptiveValue("line-height", 24, 10);
    }
}

.flower {
    margin-top: 75px;
    position: relative;
    color: $mainColor;

    img {
        width: 100%;
    }

    &__block {
        position: absolute;
        @include adaptiveValue("width", 500, 150);
        @include adaptiveValue("height", 470, 105);
        top: 0;
        @include adaptiveValue("right", 78, 10);
        @include adaptiveValue("top", 54, 7);
        background-color: $white;
        @include adaptiveValue("padding-top", 76, 5);
        @include adaptiveValue("padding-left", 40, 5);
        @include adaptiveValue("padding-right", 40, 5);
    }
}

.editor {
    display: block;
    margin: 50px auto 0 auto;

    &__title {
        text-align: center;
        font-family: 'Open Sans';
        color: rgba(28, 28, 28, 1);
        position: relative;

        @include adaptiveValue("font-size", 42, 26);
        font-weight: 700;

        &::before {
            content: '';
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            @include adaptiveValue("width", 190, 130);
            height: rem(5);
            background-color: #000;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include adaptiveValue("gap", 65, 30);
        margin-top: 70px;
    }
}