.profile {
  @include adaptiveValue("margin-top", 150, 60);

  &__wrapper {
    display: flex;
    @include adaptiveValue("gap", 75, 32);
    width: max-content;
    margin: 0 auto;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__image {
    @include adaptiveValue("width", 200, 180);
    @include adaptiveValue("height", 200, 180);
    @media (max-width: $mobile) {
      margin: 0 auto;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100%;
    }
  }
  &__info {
    font-family: "Open sans";
    @media (max-width: $mobile) {
      text-align: center;
    }
  }

  &__user {
    font-family: Libre Baskerville;
    @include adaptiveValue("font-size", 42, 24);
    font-weight: 700;

    &-tag {
      color: $secondColor;
      margin-top: 12px;
    }
  }

  &__descr {
    margin-top: 10px;
    line-height: 22px;
    max-width: 445px;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__website {
    a {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.interior {
  @include adaptiveValue("margin-top", 115, 40);
  background: url("../profile/Article-background.jpg") center center/cover
    no-repeat;
  height: 450px;
  display: flex;
  justify-content: flex-end;
  @media (max-width: $mobile) {
    align-items: center;
    justify-content: center;
  }

  &__block {
    @include adaptiveValue("padding", 40, 26);
    background-color: $white;
    @include adaptiveValue("width", 403, 300);
    @include adaptiveValue("height", 393, 280);
    @include adaptiveValue("margin-right", 33, 15);
    @include adaptiveValue("margin-top", 28, 15);

    @media (max-width: $mobile) {
      margin: 0;
    }
    &-feature {
      color: $secondColor;
      font-family: "Open sans";
      @include adaptiveValue("font-size", 20, 12);
    }

    &-title {
      margin-top: 5px;
      font-size: 33px;
      font-weight: 700;
      line-height: 41px;
      @include adaptiveValue("font-size", 28, 20);
      @include adaptiveValue("line-height", 41, 30);
    }

    &-name {
      color: $secondColor;
      font-family: "Open sans";

      margin-top: 6px;
      span {
        font-size: 14px;
      }
    }

    &-text {
      margin-top: 15px;
      line-height: 24px;
      @include adaptiveValue("font-size", 16, 13);
      @include adaptiveValue("line-height", 24, 22);
    }
  }
}
