.tags-page{
    &__wrapper{
        margin-top: 200px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 60px;
    }
    &__field{
        max-width: 707px;
        width: 100%;
        max-height: 60px;
        outline: 2px solid black;
        border-radius: 25px;
        display: flex;
        align-items: center;
        padding: 20px 25px;
        font-size: 16px;
        input{
            width: 100%;
            outline: none;
        }
        img{
            padding-left: 15px;
            cursor: pointer;
        }
    }
    &__choices{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 30px;
    }
    &__variant{
        outline: 2px solid black;
        border-radius: 100px;
        padding: 12px 20px;
        cursor: pointer;
    }
}
